---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content= {Astro.generator} />
		<title>Astro</title>
	</head>

	<body>
        <a href="/">Home</a>
        <a href="/about">About</a>
		<a href="/blog">Blog</a>

		<h1>About me</h1>

        <h2>Our Mission</h2>
            <p>Our purpose at E3 Rehab is simple: Empowerment through Evidence-based Education.</p>
            <p>Empowerment is defined as “the process of becoming stronger and more confident, especially in controlling one’s life.”</p>
      
        <h2>Our Story</h2>
            <p>After several years, we are proud to say that we’ve created a platform that, with the click of a button, you can read, watch, or listen to just about any topic related to pain, injuries, and rehabilitation. Up-to-date information that you can trust at no cost to you when you want it.</p>

	</body>
</html>
